name: CI/CD Demo

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: fedora:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js and npm
        run: echo "node.js software is installed"

      - name: Install dependencies
        run: echo "npm install"

      - name: Run tests
        run: echo "npm test"

      - name: Deploy
        run: echo "Deployed successfully!"
